.active-border {
    border-left: 2px solid white;
}

/* carousel settings */
.carousel-caption {
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.carousel-caption h1,
.carousel-caption p {
    text-shadow: 2px 2px #2a2a2a;
}
/* .carousel-inner-home {
    height: calc(70vh - 56px);
} */
.carousel-inner > .carousel-item {
    height: 450px;
 }

/* awesome icons size */
.fa-cog,
.fa-cloud,
.fa-shopping-cart {
    font-size: 30px;
}
.fa-play{
    font-size: 35px !important;
}
/* _________ */
/* mobile hamburger */
.navbar-toggler{
    border: 0;
}

/* home heading */
.inner-box{
    background-image: url(../Images/lights.jpg);
    background-attachment: fixed;
    height: 150px;
    justify-content: center;
    align-items: center;
}
/* /home heading */
.dark-overlay{
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../images/media.jpg');
    background-attachment: fixed;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}
.fa-play{
    font-size: 25px;
    cursor: pointer;
}
.h5 {
    font-size: 30px !important;
}

#main-footer{
    background-color: black;
}
.news-txt {
    font-size: 13px;
}



/* ABOUT US PAGE CSS */

#page-header{
    background-image: url(../Images/image1.jpg);
    background-position: top;
    height: calc(65vh - 56px);
}
.header-title {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-shadow: 2px 2px #2a2a2a;
}
.about-img{
    margin-top: -90px;
    height: 400px;
}
.carousel-item-about{
    height: 250px;
}
/* about us icon boxes size */
.fa-building,
.fa-bullhorn,
.fa-comments,
.fa-clock,
.fa-closed-captioning,
.fa-coffee {
    font-size: 30px;
}

/* BLOG PAGE */
.blog-title{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-shadow: 2px 2px #2a2a2a;
}


/*SERVICES PAGE  */
#services-page-header{
    background-image: url(../Images/image1.jpg);
    background-position: top;
    height: calc(65vh - 56px);
}

/* phone */
@media only screen and (max-width: 768px) {
    /* Home */
    .carousel-item img{
        height: 100vh;
    }
    .mb-sm {
        margin-bottom: 10px;
    }
      
    /*About*/
    #page-header{
        height: 100vh;
    }
    .card {
        margin-bottom: 10px;
    }
}
